body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* evita scrolls si no querés */
  }

#canvas{  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#mountains {
    background: url(../img/background/mountains.png) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    animation: background 30s linear infinite;
}

#plants {
    background: url(../img/background/plant.png) repeat-x;
    position: absolute;
    bottom: 100px; /* justo encima del suelo */
    left: 0;
    width: 100%;
    height: 200px; /* ajustá según la imagen */
    z-index: 2;
    animation: background 15s linear infinite;
}

#sky{
    background: url(../img/background/night.png) repeat-x;
    animation: background 10s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#ground{
    background: url(../img/background/ground.png) repeat-x;
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0px;
    left: 0;
    animation: background 5s linear infinite;
    z-index: 3;
}


.active{
    display: flex;
} 

.hidden {
    display: none !important;
}

#menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* mismo alto que el canvas */
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    color: white;
    align-items: center;
    justify-content: center;
}

#menu p{
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* fondo semi-transparente */
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 80%;
    margin: 1rem auto;
}

button{
    background-color: #3498db; /* azul */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #2980b9; /* azul más oscuro */
    transform: scale(1.05);
}


@keyframes background{
    0% { background-position: 1920px; }
    100% { background-position: 0px; }
}